<div *ngIf="userRole === 'ADMIN'" class="admin-dashboard">
  <h2>Tableau de bord Admin</h2>
  <button (click)="addProduct()">Ajouter Produit</button>
  <h3>Produits Existants</h3>
  <ul>
    <li *ngFor="let product of data.products">
      {{ product.name }} - Stock: {{ product.stock }} - Quantité: {{ product.quantity }}
      <input [(ngModel)]="newQuantity" type="number" (change)="selectedProduct = product" />
      <button (click)="setQuantity()">Mettre à jour Quantité</button>
    </li>
  </ul>
  <h3>Commandes</h3>
  <ul>
    <li *ngFor="let order of data.orders">{{ order.id }} - Statut: {{ order.status }} - Total: {{ order.total }}</li>
  </ul>
</div>

<div *ngIf="userRole === 'CLIENT'" class="client-dashboard">
  <h2>Mon Tableau de bord</h2>
  <h3>Mes Commandes</h3>
  <ul>
    <li *ngFor="let order of data.orders">{{ order.id }} - Total: {{ order.total }} - Statut: {{ order.status }}</li>
  </ul>
  <h3>Panier</h3>
  <ul>
    <li *ngFor="let product of data.products">
      {{ product.name }} - Prix: {{ product.price }} DT
      <button (click)="addToCart(product.id!)">Ajouter au Panier</button>
      <span *ngIf="cartItems[product.id!]"> (Quantité: {{ cartItems[product.id!] }})</span>
    </li>
  </ul>
  <p>Total Panier: {{ cartTotal }} DT</p>
  <button (click)="placeOrder()">Passer la Commande</button>
</div>
